.header__background {
    display: flex;
    justify-content: center;

    >img {
        width: 100%;
        object-fit: none;
    }
}

.header__logo {
    width: 100%;
    position: absolute;
    top: 2em;
    display: flex;
    justify-content: center;

    >img {
        height: 6em;
        width: 6em;
    }
}